<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
 <appSettings>
    <add key="player_count" value="2" /><!-- game will not move unless this much of players successfully connect and load. game will stop if anyone press pause or disconnect -->
    <add key="round_length_ticks" value="65" /><!-- this is relevant to network latency. keep it between 10 (for very low latency) to 150 (very high latency). game will still have mild pauses if someone's fps is too low. -->
  </appSettings>
</configuration>
